@font-face {
	font-family: robotoMono44;
	src: url(fonts/RobotoMono/static/RobotoMono-Regular.ttf);
}

@media screen and (orientation: landscape) {
	div#menu {
		top: 2px;
		right: 2px;
	}
}
@media screen and (orientation: portrait) {
	div#menu {
		bottom: 2px;
		right: 2px;
	}
}
@media print {
	div#menu {
		display: none;
	}
}

@keyframes frameAnimation {
	from {
		transform: translateX(-500%);
		opacity: 0;
	}
	5% {
		transform: rotateZ(-180deg);
	}
	30% {
		transform: translateX(-5%);
		opacity: 0.15;
	}
	45% {
		transform: translateX(-1%);
	}
	to {
		transform: translateX(0);
		opacity: 1;
		transform: rotateZ(0deg);
	}
}
@keyframes menuAnimation {
	from {
		opacity: 0;
	}
	5% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes starAnimation {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}

:root {
	--blue: #00B9FB;
	--green: #00FF7F;
	--red: #FB667A;
	--orange: #FF9966;
	--pink: #E4007C;
	--yellowDay: #FFF842;
	--yellowDark: #7F7C21;
	--yellowDeep: #403E10;
	--slateDay: #464A52;
	--slateDawn: #323C50;
	--slateDusk: #2C3446;
	--slateDark: #1F2739;
	--slateDeep: #181828;
	--greyDawn: #5F727F;
	--greyDeep: #0E1119;
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1px var(--yellowDay);
	border-radius: 8px;
}
::-webkit-scrollbar-thumb {
	background: var(--yellowDay);
	border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--yellowDay);
}

.blue {
	color: #00B9FB;
}
.green {
	color: #00FF7F;
}
.red {
	color: #FB667A;
}
.orange {
	color: #FF9966;
}
.pink {
	color: #E4007C;
}
.yellowDay {
	color: #FFF842;
}
.yellowDark {
	color: #7F7C21;
}
.yellowDeep {
	color: #403E10;
}
.slateDay {
	color: #464A52;
}
.slateDawn {
	color: #323C50;
}
.slateDusk {
	color: #2C3446;
}
.slateDark {
	color: #1F2739;
}
.slateDeep {
	color: #181828FF;
}
.greyDawn {
	color: #5F727FFF;
}
.greyDeep {
	color: #0E1119FF;
}

div.autoScroll {
	overflow: auto;
}
div.horizontalGap {
	height: 1.7em;
}

body {
	font-family: robotoMono44, "Courier New";
	color: var(--greyDawn);
	background-color: var(--slateDeep);
	background-image: url("resources/texture.jpg");
	background-repeat: repeat;
	line-height: 1.42em;
	margin: 34px;
}

div.dustParticle {
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	margin: auto;
}
div.starSecond {
	content: " ";
	position: absolute;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
	animation: starAnimation 150s linear infinite;
}
div.starThird {
	content: " ";
	position: absolute;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
	animation: starAnimation 10s linear infinite;
}
div.starFourth {
	content: " ";
	position: absolute;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
	animation: starAnimation 50s linear infinite;
}
div.starFifth {
	content: " ";
	position: absolute;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF9800, 1076px 504px #03A9F4, 633px 601px #FF5722, 350px 630px #FFEB3B, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #CDDC39, 1646px 578px #FFEB3B, 544px 293px #2196F3, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #8BC34A, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #8BC34A, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #8BC34A, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #2196F3, 419px 1024px #FF9800, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #CDDC39, 1481px 621px #9E9E9E, 19px 1348px #8BC34A, 864px 1780px #E91E63, 442px 1136px #2196F3, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #FFEB3B, 1201px 1657px #3F51B5, 1505px 692px #2196F3, 1799px 601px #03A9F4, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #2196F3, 223px 252px #FF9800, 983px 1093px #F44336, 726px 1029px #FFC107, 1764px 778px #CDDC39, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF9800, 228px 1824px #FFF, 1119px 1680px #FFC107, 812px 1480px #3F51B5, 1438px 1585px #CDDC39, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #03A9F4, 857px 281px #F44336, 1254px 1306px #CDDC39, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #03A9F4, 299px 678px #4CAF50, 1193px 115px #FF9800, 918px 290px #CDDC39, 1447px 1422px #FFEB3B, 91px 1273px #9C27B0, 108px 223px #FFEB3B, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #CDDC39, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #CDDC39, 126px 943px #FFEB3B, 263px 604px #FF5722, 1546px 692px #F44336;
	animation: starAnimation 80s linear infinite;
}

div#spectrum {
	position: fixed;
	left:0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--slateDeep);
	z-index: -1;
}

div.frame {
	animation: 2s ease 0s 1 frameAnimation;
}

div#menu {
	position: fixed;
	padding: 3px;
	user-select: none;
	background: rgba(255,255,255,0.1);
	-webkit-backdrop-filter: blur(34px);
	backdrop-filter: blur(34px);
	-webkit-box-shadow: inset 0 2px 1.5px 0 var(--yellowDay);
	-moz-box-shadow: inset 0 2px 1.5px 0 var(--yellowDay);
	box-shadow: inset 0 2px 1.5px 0 var(--yellowDay);
	animation: 1s ease-in 0s 1 menuAnimation;
	overflow: hidden;
}
div#menu:hover {
	border-radius: 0% 9% 2% 2% / 0% 7% 3% 3%;
}
div#menu > div:first-child {
	float: left;
	display: none;
}
div#menu:hover > div:first-child {
	display: block;
}
div#menu > div:last-child {
	float: right;
	font-size: 0.8em;
	writing-mode: vertical-lr;
	text-orientation: upright;
	color: var(--green);
}
div#menu table caption {
	text-align: center;
	white-space: wrap;
	text-overflow: ellipsis;
}
div#menu table caption > div:first-child {
	color: var(--red);
}
div#menu table caption > div:last-child {
	color: var(--yellowDay);
}
div#menu table tr td {
	color: var(--blue);
}

a {
	color: var(--pink);
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

table {
	margin-top: 6px;
	text-align: left;
}
table caption {
	text-align: left;
	white-space: nowrap;
}
tr:nth-child(odd) {
	background-color: var(--slateDawn);
}
tr:nth-child(even) {
	background-color: var(--slateDusk);
}
tr:hover {
	background-color: var(--slateDay);
	-webkit-box-shadow: 0 6px 6px -6px var(--greyDeep);
	-moz-box-shadow: 0 6px 6px -6px var(--greyDeep);
	box-shadow: 0 6px 6px -6px var(--greyDeep);
}
th {
	background-color: var(--slateDark);
}
th h1 {
	font-weight: bold;
	font-size: 1em;
	text-align: left;
	color: #185875;
}
th, td {
	padding: 2px 5px 2px 5px;
}
td {
	font-weight: normal;
	font-size: 0.9em;
	color: var(--green);
	-webkit-box-shadow: 0 2px 2px -2px var(--greyDeep);
	-moz-box-shadow: 0 2px 2px -2px var(--greyDeep);
	box-shadow: 0 2px 2px -2px var(--greyDeep);
}
td:hover {
	color: var(--yellowDeep);
	background-color: var(--yellowDay);
	font-weight: bold;
	box-shadow: var(--yellowDark) -1px 1px, var(--yellowDark) -2px 2px, var(--yellowDark) -3px 3px, var(--yellowDark) -4px 4px, var(--yellowDark) -5px 5px, var(--yellowDark) -6px 6px;
	transform: translate3d(6px, -6px, 0);
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: line;
}

table.assembly {
	width: 100%;
}
table.assembly tr:first-child td,
table.assembly tr:nth-child(2) td,
table.assembly tr:nth-last-child(-n + 3) td {
	color: var(--orange);
}